<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljxie.shardingmybatis.mapper.OrderMapper">
    <resultMap id="baseResultMap" type="com.ljxie.shardingmybatis.entity.Order">
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId" parameterType="com.ljxie.shardingmybatis.entity.Order">
        INSERT INTO t_order (user_id, status) VALUES (#{userId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR});
    </insert>

    <delete id="delete">
        DELETE FROM t_order WHERE order_id = #{orderId,jdbcType=INTEGER};
    </delete>

    <select id="selectAll" resultMap="baseResultMap">
        SELECT * FROM t_order;
    </select>

    <select id="selectRange" resultMap="baseResultMap">
        SELECT * FROM t_order WHERE order_id BETWEEN 200000000000000000 AND 400000000000000000
    </select>

</mapper>
